<%- partial('_partial/header', {
    title: theme.link_title,
    hdClass: 'archives-header'
}) %>
    <div class="container body-wrap fade">
        <div class="waterfall in">
            <% for (var item in theme.links) { %>
                <div class="link-title rollIn animated"><%= item %></div>
                <ul class="readers-list clearfix">
                <% for (var i = 0; i < theme.links[item].length; i++) { %>
                    <li class="slideInUp animated">
                        <a title="<%= theme.links[item][i].desc %>" target="_blank" href="<%- url_for(theme.links[item][i].link) %>">
                            <div><%= theme.links[item][i].text%></div>
                            <div><%= theme.links[item][i].desc%></div>
                        </a>
                    </li>
                <%}%>
                </ul>
            <%}%>
        </div>
        </div>
    </div>